ol.breadcrumb
  li 
    a(ui-sref='inside') Home
  li.active Companies
hr
.row
  .col-md-12
    div.col-md-4.pull-right
      div.btn.btn-group
        a.btn.btn-default.btn-lg
          i.fa.fa-arrow-left
        a.btn.btn-default.btn-lg#week Aug 15 - Aug 22
        a.btn.btn-default.btn-lg
          i.fa.fa-arrow-right
        
    div.col-md-12
      table.table.table-hover
        thead.well
          tr
            th
            th Sun
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
            th Total
            th 
            th
        tbody
          tr
            td Description of Work goes here 
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
            td
              i.fa.fa-plus-square-o
            td
              i.fa.fa-trash
          tr
            td Description of Work goes here 
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
            td
              i.fa.fa-plus-square-o
            td
              i.fa.fa-trash
          tr
            td Description of Work goes here 
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
              input.form-control
            td.col-xs-1
            td
              i.fa.fa-plus-square-o
            td
              i.fa.fa-trash
        tfoot.well
          tr
            td
              a.btn.btn-success Save
            td Total
            td Total
            td Total
            td Total
            td Total
            td Total
            td Total
            td
            td
            td



      
  

  