html.no-js
head
  meta(charset='utf-8')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css(.) styles/vendor.css
  // bower:css
  link(rel='stylesheet', href='bower_components/bootstrap-css-only/css/bootstrap.css')
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel='stylesheet', href='styles/main.css')
  link(href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css')
  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

  body(ng-app='projectxApp')
    .header(ng-controller="HeaderCtrl")
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            a.navbar-brand.logo(href='#') CxoSoft
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right(ng-if="!authenticated")              
              li
                div
                  a.btn.btn-success.navbar-btn(ui-sref='signup') Sign Up
              li
                div
                  a.btn.btn-default.navbar-btn(ui-sref='login') Sign In 
            ul.nav.navbar-nav.navbar-right(ng-if="authenticated") 
              li
                div
                  a(ui-sref='companies.index()') 
                    i.nav-i.fa.fa-building-o.fa-2x(popover-placement="bottom" popover="Companies" popover-trigger="mouseenter")
              li
                div
                  a.btn.btn-default.navbar-btn(ng-click='signout()') Sign Out

      .container-fluid
        .row
          .col-md-2
          .col-md-8
            .ui-view
          .col-md-2

    // build:js(.) scripts/oldieshim.js
    //if lt IE 9
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/json3/lib/json3.js')
    //[endif]
    // endbuild
    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-local-storage/angular-local-storage.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/config.js')
    script(src='scripts/app.js')
    script(src='scripts/controllers/header.js')
    script(src='scripts/controllers/login.js')
    script(src='scripts/controllers/companies.js')
    script(src='scripts/controllers/signup.js')
    script(src='scripts/controllers/setup.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/constants/userRoles.js')
    script(src='scripts/services/session.js')
    script(src='scripts/services/auth.js')
    // endbuild