section(ng-init="companiesEdit()")
ol.breadcrumb
  li 
    a(ui-sref='inside') Home
  li
    a(ui-sref='companies.index') Companies
  li.active {{ company.name }}
  li.active Edit
hr

.row
  .col-md-8
    .panel.panel-info
      .panel-heading
        h3.panel-title Company Info
      .panel-body          
        dl.dl-horizontal(ng-repeat="(key,value) in company")
          dt.pull-left {{ key }}
          dd {{ value }}
        dl.pull-right
          a(ui-sref='companies.edit({companyId: company.id})') Edit

