ol.breadcrumb
  li 
    a(ui-sref='inside') Home
  li.active Companies
hr
.row
  .col-md-12
    a.btn.btn-success.pull-right(href='#/companies/new') New Company
hr
.list-group
  a.list-group-item(ng-repeat='company in companies', ui-sref='companies.show({ companyId: company.id })') 
    h4.list-group-item-heading {{ company.name }}
  