h1 Create Company

form(name='CreateForm', ng-submit='create()')
  .form-group(ng-repeat="field in fields")
    div(ng-if= "field.type == 'input'")
      input.form-control(type='text',ng-model="company[field.name]", placeholder="{{ field.name }}", required)
    div(ng-if= "field.type == 'select'")
      select.form-control(type='text', ng-model='company[field.name]', required)
        option(ng-repeat="option in field.options") 
          {{ option }}

  .form-group
    button.btn.btn-default(type='submit') Submit