o.breadcrumb
  li
    a(ui-sref='inside') Home
  li
    a(ui-sref='companies.index') Companies
  li.active Create Company
hr

h5 Create new company
form(name='CreateForm', ng-submit='create()')
  .form-group(ng-repeat="field in fields")
    div(ng-if= "field.type == 'input'")
      input.form-control(type='text',ng-model="company[field.name]", placeholder="Enter {{ field.label }}", required)
    div(ng-if="field.type == 'select'")
      input.form-control(type='text',ng-model="company[field.name]", typeahead="option for option in field.options | filter:$viewValue | limitTo:8", placeholder="Type {{ field.label }}", required)  
  .form-group
    button.btn.btn-success.pull-right(type='submit') Create Company
