o.breadcrumb
  li 
    a(ui-sref='inside') Home
  li
    a(ui-sref='companies.index') Companies
  li.active {{ company.name }}

hr

dl.dl-horizontal
  dt.pull-left EIN
  dd {{ company.ein }}
  dt NAICS 
  dd {{ company.naics_code }}
  dt Accounting Method
  dd {{ company.accounting_method }}