section(ng-init="companiesEdit()")
ol.breadcrumb
  li 
    a(ui-sref='inside') Home
  li
    a(ui-sref='companies.index') Companies
  li.active {{ company.name }}
hr

.row
  .col-md-8
    .panel.panel-info
      .panel-heading
        h3.panel-title Company Info
      .panel-body          
        dl.dl-horizontal(ng-repeat="(key,value) in company")
          dt.pull-left {{ key }}
          dd {{ value || '&nbsp;' }}
        dl.pull-right
          a.btn.btn-primary(ui-sref='companies.edit({companyId: company.id})')
            i.fa.fa-edit.fa-sm
              |  Edit
  .col-md-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Links
      .panel-body
        ul
          li
            a(ui-sref='companies.employees.index({companyId: company.id})') Employee
          li
            a(ui-sref='companies.customers.index({companyId: company.id})') Customers
