section(ng-init='createForm()')
  ol.breadcrumb
    li
      a(href="employees/{{timesheet.employee_id}}/timesheets")  Home
    li.active Create Timesheet
  hr

  form(name='CreateForm', ng-submit='create()')
    .form-group
      .row
        
        .col-sm-4
          label {{fields[0].label}}
          p.input-group
            input.form-control(type='text', datepicker-popup='MM/dd/yyyy', ng-model="timesheet[fields[0].name]", is-open='opened1', min-date='minDate', max-date='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
            span.input-group-btn
                button.btn.btn-default(type='button', ng-click="open($event, 'opened1')")
                  i.fa.fa-calendar(style="font-size: 20px;")
          {{fields[0].error}}

        .col-sm-4
          label {{fields[1].label}}
          p.input-group
            input.form-control(type='text', datepicker-popup='MM/dd/yyyy', ng-model="timesheet[fields[1].name]", is-open='opened2', min-date='minDate', max-date='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
            span.input-group-btn
                button.btn.btn-default(type='button', ng-click="open($event, 'opened2')")
                  i.fa.fa-calendar(style="font-size: 20px;")
          {{fields[1].error}}
     
    .form-group
      button.btn.btn-success.pull-left(type='submit') Create Timesheet
