section(ng-init="createLineItems()")
ol.breadcrumb
  li 
    a(ui-sref='inside') Home
  li.active Companies
hr
.row
  .col-md-12
    section.tab
      ul.nav.nav-pills.well.center-box
        li(ng-repeat="date in timesheet.dates", ng-class="{ active: tab===$index }").text-center
          a(ng-click="selectTab($index, date)") {{date.day}}
          span
            {{date.date}}/{{date.month}}

        li.pull-right
          h2 Total: 
            span {{ timesheet.total }}

      table.table.table-hover(ng-repeat="date in timesheet.dates", ng-show="tab===$index")
        tbody
          tr(ng-repeat="item in timesheet.line_items", ng-if="item.billable_on === date.fullDate")
            td 
              {{item.project}}
            td.col-lg 
              {{item.description}}
            td.pull-right.col-xs-1
              {{item.hours}}
            td.pull-right.col-xs-2
              input(type="checkbox", checked) 
              label Billable?
            td.col-xs-1
              a.btn.btn-default Save
            td.col-xs-1
              i.fa.fa-trash
          
      form(ng-submit="addLineItem()")
        table.table.table-hover
          tbody
            tr
              td.col-xs-2
                input.form-control(placeholder="Project", ng-model='newItem.project') 
              td.col-lg 
                input.form-control(placeholder="Description of Work for row", ng-model='newItem.description')
              td.pull-right.col-xs-2
                input.form-control(placeholder="Hours", ng-model='newItem.hours')
              td.pull-right.col-xs-1
                input(type="checkbox", checked, ng-model='newItem.billable') 
                label Billable?
                input(type="hidden", ng-model='newItem.billing_rate')
              td.col-xs-1
                button.btn.btn-default(type='submit') Save
              td.col-xs-1
                i.fa.fa-trash

      .row
        .col-lg-3.pull-right 
          h3 Total: {{ timesheet.total }}

