div(class='table-responsive')
  table(class='table table-striped' ng-show='companies')
    caption(class='text-left') Companies
      thead
        tr
          th Name
          th EIN
          th NAICS Code
          th Accounting Method

        tr(ng-repeat='company in companies')
          td {{ company.name }}
          td {{ company.ein }}
          td {{ company.naics_code }}
          td {{ company.accounting_method }}