h1 login
form(name='loginForm', ng-submit='login()')
  div(ng-if="errors")
    | Error Logging in

  .form-group
    label(for='email') Email:
    input.form-control#email(type='text', ng-model='credentials.email', required)

  .form-group
    label(for='password') Password:
    input.form-control#password(type='password', ng-model='credentials.password', required)

  .form-group
    button.btn.btn-default(type='submit') Login
