h1 login
form(name='SignupForm', ng-submit='signup()')
  .form-group(ng-class='{"has-error": errors.first_name}')
    label(for='first_name') First Name:
    div(ng-repeat="error in errors.first_name")
      div {{error}}
    input.form-control#first_name(type='text', ng-model='user.first_name', required)

  .form-group(ng-class='{"has-error": errors.last_name}')
    label(for='last_name') Last Name:
    div(ng-repeat="error in errors.last_name")
      div {{error}}
    input.form-control#last_name(type='text', ng-model='user.last_name', required)

  .form-group(ng-class='{"has-error": errors.email}')
    label(for='email') Email:
    div(ng-repeat="error in errors.email")
      div {{error}}
    input.form-control#email(type='text', ng-model='user.email', required)

  .form-group(ng-class='{"has-error": errors.password}')
    label(for='password') Password:
    div(ng-repeat="error in errors.password")
      div {{error}}
    input.form-control#password(type='password', ng-model='user.password', required)

  .form-group(ng-class='{"has-error": errors.password_confirmation}')
    label(for='password_confirmation') Passsord Confirmation
    div(ng-repeat="error in errors.password_confirmation")
      div {{error}}
    input.form-control#password_confirmation(type='password', ng-model='user.password_confirmation', required)

  .form-group
    button.btn.btn-default(type='submit') Submit